body {
    background-color: #dcd8c0;
    background: #DCD8C0;
    color: #454138;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 1.5;

}



main {
    border-color: #dcd8c0;
    border-left: #454138;
    border-right: #454138;
    border-style: solid;
    border-width: 2px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    font-size: 18px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

ul {
    list-style-type: square;
    margin: 10%;
    padding: 0;   }
  
